
<h1><%= @walk[0]["name"] %></h1>

<% @walk_section.each do |ws| %>

  <div class="container">
    <%= image_tag 'walks/' +  ws.image %>
    <% @walk_section_buttons.each do |wsb| %>
      <a href="<%= @base_url %>/<%= wsb.next_walk_section_id %>">
      <button class="btnbotcen"><%= wsb.button_text %></button>
      </a>
    <% end %>
  </div>

<% end %>




